.Galleries {
    min-width: 50%;
    margin-bottom: 1em;
}

.PageButton {
    margin-right: 1em;
}

.Buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.PageSelect {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.FormGroup {
    flex-direction: column;
    margin-right: 1em;
}
