.columns {
    display: flex;
}

.img-grid {
    flex-grow: 1;
}

.img-grid img {
    border: 7px solid transparent;
    margin: 3px;
    cursor: pointer;
    height: 200px;
    width: auto;
}

.img-grid .img-selected {
    border: 7px solid blue;
}

.selected-imgs {
    background-color: lightgrey;
    flex: 0 0 260px;
    height: 97vh;
    position: sticky;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;

    /*Firefox*/
    scrollbar-width: thin;
    scrollbar-color: dimgray darkgrey;
}

    /*Most browsers except Firefox and IE*/
    .selected-imgs::-webkit-scrollbar {
        width: 6px;
      }
      
    .selected-imgs::-webkit-scrollbar-track {
    background: darkgray;
    }

    .selected-imgs::-webkit-scrollbar-thumb {
    background: dimgrey;
    }
  
  .selected-img-container {
      position: relative;
      display: inline-block;
      font-size: 1.75em;
      margin: 5px 0;
  }

  .selected-img-container img {
      width: 230px;
      height: auto;
  }

  .selected-img-container:first-child {
      margin-top: 15px;
  }

  .button-overlay {
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
  }

  .pagination {
      display: flex;
      justify-content: space-around;
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
  }

  .pag-button {
      flex: 1;
  }

  .pag-input {
      flex: 1.5;
      display: flex;
      justify-content: space-around;
  }